*{
    box-sizing: border-box;
}
.header_page_pokemon_detail{
    width: 100%;
    padding-bottom: 3em; 
}
.image_header_pokemon_detail{
    width: 99%;
    height: 9em;
    margin: auto;
    cursor: pointer;
}
.card_container_pokemon_detail{
    
    
    margin-top: 2em;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid gray;
}
.info__card__header{
    background-color: aquamarine;
    width: 100%;
    height: 6em;
    padding-top: 0;
    
    
    
  
}
.info__card__img{
    position: relative;
    width: 10em;
    bottom: 4em;
    left: 40%;
    right: 50%;    
}
.info__card__id{
    border: 1px solid rgb(184, 182, 182);
    text-align: center;
    width: max-content;
    height: 1.4em;
    margin-left: 47%;
    margin-top: 1em;
    align-content: center;
    border-radius: 0.1em;
    
   
}

.info__card__hr1{
    width: 25%;
    height: 0;
    margin-top: 1em;
    border-color: #d2d2d2;
}
.info__card__hr2{
    width: 25%;
    height: 0;
    margin-top: 1em;
    border-color: #d2d2d2;
}
.info__card__box__name{
    display: flex;
    gap: 0;
    margin-top: 1em;
}
.info__card__size{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}
.info__card__size__title{
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__card__size_p{
    font-size: 0.9em;
    
}
.card__type__container{
    display: flex;
    justify-content: center;
    gap: 5.5em;
    margin-top: 1em;
}
.card__types__box {
    display: flex;
    gap: 2em;
    font-size: 0.6em;
    margin-left: 1.5em;
}
.card__ul__container{
    display: flex;
    justify-content: center;
    gap: 3.5em;
    
}
.card__types1{
    
    border: 1px solid gray;
    margin-top: 1em;
    width: 6em;
    text-align: center;
    
}
.card__abilities{
    border: 1px solid gray;
    margin-top: 1em;
    width: 6em;
    text-align: center;
}
/*.card__abilities{
    display: inline;
    font-size: 60%;
    border: 1px solid gray;
    margin-left: 4em;

}*/
.card__stats__container{
    display: flex;
}
.card__stats{
    margin-top: 0.4em;
    margin-left: 1.5em;
    font-size: 1.2em;
}
.card__stats__pokebolita{
    width: 3em;
    height: 3em;
    margin-top: 1em;
}
.card__stats__hr{
    width: 68%;
    height: 0;
    margin-top: 2.7em;
}
.card__stats__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    
}
.stats__label{
    margin: 7em 6em 9em 2em;
    
}
.stat__box{
    border: 1px solid gray; 
    width: 20%;
    height: 20%;
    background-color: aqua;
}
.info__move__ul{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

}
.info__move__list{
    width: 80%;
    display:inline-grid;
    border: 1px solid gray;
    width: 8em;
    height: 3em;
    font-size: 0.45em;
    align-content: center;
    margin-right: 1em;
    margin-top: 0.3em;
    margin-bottom: 2em;
   padding-top: 2em;
   background-color: #E5E5E5;
   border-radius: 37%;
    
}
@media (min-width:375px) and (max-width:500px) {
    .info__card__img{
        width: 55%;
        left: 25%;
        right: 50%;
        
    }
    
    .card__types1{
        font-size: 60%;
        border: 1px solid gray;
        
    
    }
        .card__abilities{
        font-size: 60%;
        border: 1px solid gray;
        margin-right: 1em;
    }
    
    .card__stats{
        margin-left: 0.5em;
    }
    .card__stats__pokebolita{
        
        margin-right: 2em;
    }
    .card__stats{
        font-size: 1em;
        margin-top: 1em;
    }
    
  
    
   
}
/*Background Header*/
.bg-electric{
    background-color:  rgb(40, 45, 148);
}
.bg-water{
    background-color:  rgb(51, 108, 219);
}
.bg-fire{
    background-color:  rgb(214, 100, 61);
}
.bg-grass{
    background-color:  rgb(186, 219, 190);
}
.bg-bug{
    background-color:  rgb(107, 181, 89);
}
.bg-normal{
    background-color:  rgb(129, 91, 99);
}
.bg-fighting{
    background-color:  rgb(153, 76, 52);
}
.bg-poison{
    background-color:  rgb(135, 88, 192);
}
.bg-ghost{
    background-color:  rgb(69, 73, 159);
}
.bg-rock{
    background-color:  rgb(135, 136, 140);
}
.bg-dark{
    background-color:  rgb(9, 12, 11);
}
.bg-ice{
    background-color:  rgb(139, 207, 243);
}
.bg-steel{
    background-color:  rgb(114, 131, 125);
}
.bg-flying{
    background-color:  rgb(112, 165, 175);
}
.bg-fairy{
    background-color:  rgb(181, 72, 107);
}
.bg-ground{
    background-color:  rgb(144, 105, 46);
}
/*text color*/
.color-electric{
    color: rgb(40, 45, 148);
}
.color-water{
    color: rgb(51, 108, 219);
}
.color-fire{
    color: rgb(214, 100, 61);
}
.color-grass{
    color: rgb(186, 219, 190);
}
.color-bug{
    color: rgb(107, 181, 89);
}
.color-normal{
    color: rgb(129, 91, 99);
}
.color-fighting{
    color: rgb(153, 76, 52);
}
.color-poison{
    color: rgb(135, 88, 192);
}
.color-ghost{
    color: rgb(69, 73, 159);
}
.color-rock{
    color: rgb(135, 136, 140);
}
.color-dark{
    color: rgb(9, 12, 11);
}
.color-ice{
    color: rgb(139, 207, 243);
}
.color-steel{
    color: rgb(114, 131, 125);
}
.color-flying{
    color: rgb(112, 165, 175);
}
.color-fairy{
    color: rgb(181, 72, 107);
}
.color-ground{
    color: rgb(144, 105, 46);
}


